<div class="about-me">

  <section class="about-me__section">
       <div class="about-me__intro bubble">
         <h3>Introduction</h3>

         <table>
           <tr>
             <td>Who ||</td>
             <td>Kemar Bell</td>
           </tr>
           <tr>
             <td>What ||</td>
             <td>User Interface Developer</td>
           </tr>
           <tr>
             <td>Where ||</td>
             <td>Virginia / Washington metropolitan area / DMV</td>
           </tr>
           <tr>
             <td>When ||</td>
             <td>2012 - present</td>
           </tr>
         </table>
        <!-- <div class="about-me__photo">
           <img src="https://placeimg.com/350/350/people" alt="">
         </div>-->
       </div>

    <span class="bubble-connection"></span>
       <div class="personal bubble">
         <h3>Personal</h3>
         <p>I like to read, listen music, watching television/movies and of course coding and learning new technologies. I am originally from Jamaica</p>
       </div>
    <span class="bubble-connection"></span>
   <div class="experience bubble">
         <h3>Experience</h3>
         <p><b>Baccalaureate – Computer Information Systems – 2008 :</b> I am a graduate of the  CIS degree program at New York City College of Technology.</p>
         <p><b>User Interface Developer :</b> I am a Software Developer, that specialize in User Interface Development, I have worked on projects for companies such Equifax, Media Brands, DOE, and Arline Reporting Cooperation  </p>
       </div>
    <span class="bubble-connection"></span>

    <div class="more-about bubble">
      <h3>Want To Know More</h3>

      Have a look at my <a class="resume-download">Resume<img src="../../assets/img/pdf.svg" alt=""></a>
        <p>OR</p>
      <a  [routerLink]="['/contact']">Contact Me</a>

       </div>
  </section>
</div>

