@import "../../assets/styles/fonts";
@import "../../assets/styles/colors";
.about-me {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
   p {
     margin-top: 0 !important;
   }


  .about-me__section {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
      width: 75%;
      @include font-source-sans($indie-flower, 22px, $text-secondary, normal, 2);


      .bubble {
        background-color: $text-secondary;
       // border-radius: 120px;
        border-radius: .4em;
        width: 543px;
        color: white;
        padding: 35px;

        // margin-top: 80px;
        h3 {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          text-transform: uppercase ;
          @include font-source-sans($bungee, 24px, #fff, bold, 2);
          display:block;
          z-index: -1;
        }
        &.about-me__intro {
          position: relative;
          background: $text-secondary;
          table {
            // border: 2px solid $text-secondary;
            margin: 0 5px;
            tr {
              border: 1px solid $text-secondary !important;
              td {
                &:first-of-type {
                  text-transform: uppercase;
                  font-weight: bold;
                }
              }
            }
          }
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 63px solid transparent;
            border-bottom-color: $text-secondary;
            border-top: 0;
            border-right: 0;
            margin-left: -31.5px;
            margin-top: -63px;
          }
        }
      }
      .bubble-connection {
        &:after {
          content: '';
          height: 30px;
          width: 30px;
          background-color: $text-secondary;
          border: 20px solid $text-secondary;
        }
      }
  }
  text-align: left;

}
