@import "../../assets/styles/fonts";
@import "../../assets/styles/colors";
:host {
  display: block;
  height: 100%;

}

div.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .intro__item {
   margin-bottom: 50px;
  }
  // margin: 20px;
  .intro__item--name {
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 75px;
    img {
      z-index: -1;
    }
  }
  .intro__item--title {
    text-align: center;
    font-size: 28px;
    @include font-source-sans($bungee, 24px, $text-secondary, normal, 1);

  }
  .intro__item--based-in {
    text-align: center;
    font-size: 20px;
  }
  .intro__item--specializations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .intro__specializations__item {
      //flex-basis: 50%;
      &:not(:last-child) {
        margin-right: 10px;
        &:after {
          content: '|';
        }
      }
      .intro__specializations__item__text {
       // @include font-source-sans($bungee, 16px, $text-secondary, normal, 1);
        text-transform: capitalize !important;
        @include font-source-sans($bungee, 14px, $text-secondary, normal, 1);

        &.highlight {
          font-weight: bold;
          font-style: italic;
          position: relative;
          display: inline-block;
          font-family: 'Pacifico', cursive;
          font-size: 18px;
        }
      }
    }
  }
  .intro__specializations__description {
    display: flex;
    justify-content: center;
    font-style: italic;
    margin-bottom: 100px;
    font-family: 'Pacifico', cursive;

  }
}
