<div class="intro">
    <div class="intro__item intro__item--name">
      <img src="../../assets/img/logo.png" alt="">
    </div>
  <div class="intro__item intro__item--title">
    UI Developer
  </div>
  <div class="intro__item intro__item--specializations">
      <div class="intro__specializations__item" *ngFor="let item of specializations; let i = index">
        <span class="intro__specializations__item__text" [ngClass]="{'highlight animated pulse infinite' : current == i}">{{item.title}}</span>
      </div>
  </div>
  <div class="intro__specializations__description highlight animated lightSpeedIn">
    {{specializations[current]?.desc}}
  </div>
</div>

