@import url('https://fonts.googleapis.com/css?family=Allan');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";
@import "../../assets/styles/layout";

header {

  /*************** large device navigation ******************/
  &.nav-open {
    nav {
      top: 0;
      ul.nav-list {
        li.nav-item {
          &:hover:not(:first-child):not(:last-child) {
            width: 150px !important;
            background: $ternary !important;
            cursor: pointer;
            line-height: 3.5;
            &.active {
              background: $active-link !important;
            }
          }
        }
        }
      ul.scroll-spy-nav-list {
        display: none;
      }
    }
    button.toggle-nav{
      top: 80px;
      background-color: $black-transparent;
      span{
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
      }
    }
  }
  nav {
    width: 80%;
    height: 80px;
    top: -53px;
    transition: top 10s;
    position: fixed;
    z-index: 1000;
    margin: 0 20%;
    @include max-screen(1450px){
      margin: 0 10%;
    }
    //background-color: #2c353a;
    font: bold 1.50em 'Allan', serif;
    overflow: hidden;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    ul.nav-list {
      display: table;
      white-space: nowrap;
      height: 100%;
      margin: 0;
      li.nav-item {
        width: 100px;
        line-height: 2.5;
        cursor: auto;
        text-align: center;
        background-color: $black-transparent !important;
        display: table-cell;
        vertical-align: middle;
        padding: 0 10px;
        position: relative;
        &.active {
          background: $active-link !important;
          a.nav-link {
            color: $white !important;
          }
        }
        &:not(:first-child):not(:last-child) {
          flex: 1;
          transition: .3s;
          max-width: 10%;
          min-width: 10%;
        }
        &:hover, a:focus {
          transition: .5s;
          flex-grow: 1;
          max-width: 10% !important;

          a.nav-link {
            padding: 5px 7px;
            border-color: rgba(255,255,255,1);
            outline: none;
            &::before, &::after {
              max-height: 100%;
              transition-delay: .28s;
              border-color: rgba(255, 255, 255, 1);
            }
          }
        }
        &:focus {
          &::before, &::after {
            max-height: 100%;
            transition-delay: .28s;
            border-color: rgba(255, 255, 255, 1);
          }
        }
        a.nav-link {
          color: #848e92;
          text-transform: uppercase;
          font-size: 21px;
          font-weight: bolder;
          text-decoration: none;
          color: rgba(255,255,255,1);
          position: relative;
          padding: 16px 7px;
          border-top: 2px solid rgba(255,255,255,0);
          border-bottom: 2px solid rgba(255,255,255,0);
          transition: padding .3s,border-color .3s;
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            max-height: 0;
            color: rgba(255,255,255,0);
            border-left: 2px solid rgba(255,255,255,1);
            content: attr(data-text);
            transition: max-height .3s,border-color 0s;
          }
          &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 18px;
            max-height: 0;
            color: rgba(255,255,255,0);
            border-right: 2px solid rgba(255,255,255,0);
            content: attr(data-text);
            transition: max-height .3s,border-color 0s;
          }
        }
      }
    }
    ul.scroll-spy-nav-list {
      height: 33%;
      margin-top: 50px;
      margin-left: 25%;
      width: 50%;
      display: flex;
      justify-content: space-around;
      border: 2px solid $black-transparent !important;

      li.spy-item {
        list-style: none;
        background-color: $black-transparent;
        border-radius: 7px;
        width: 14px;
        height: 14px;
        text-align: center;
        line-height: 2em;
        margin: 6px 1em;
        display: inline-block;
        color: white;
        position: relative;
        cursor: pointer;
        z-index: 1000;
        a.nav-link {
          display:block;
          width: 100%;
          height: 100%;
        }
        &.active {
          background: $active-link;
          z-index: 10;
        }
      }
    }


  }
  /* Style for the plus button */
  button.toggle-nav{
    position: fixed;
    top: 27px;
    left: calc(50% - 70px);
    width: 60px;
    height: 35px;
    background-color: $black-transparent;
    font: 400 1.2em 'Allan', serif;
    color: #fff;
    border: none;
    line-height: 30px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    display: none;
    z-index: 1000;
    &:hover{
      height: 50px;
    }
    span{
      display: block;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -webkit-transition: all 0.25s ease;
      -moz-transition: all 0.25s ease;
    }

    @include min-screen($lg-lower-boundary) {
      display: block;
    }
  }

  /*************** small device navigation ******************/






}


