@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";
@import "../../assets/styles/layout";

header {
  @include min-screen($lg-lower-boundary) {
    .menu {
      display: none;
    }
  }
    @include max-screen($md-upper-boundary) {
        nav {
          height: 80%;
          top: -314px;
          transition: top .5s;
          ul.nav-list {
            display: flex;
            flex-direction: column;
            li.nav-item {
              &:first-child:last-child {
                display: none;
              }
              &:not(:first-child):not(:last-child) {
                max-width: 90% !important;
                height: 50px !important;
                width: 90% !important;
                a.nav-link {
                  width: 100%;
                  height: 100%;
                }
              }
            }
          }
        }


    /*
  Small Screen Menu
  */
    .menu {
      display: block;
      position: fixed;
      top: 20px;
      left: 25px;
      z-index: 1000;

      .bar1, .bar2, .bar3 {
        width: 35px;
        border-radius: 35px;
        height: 5px;
        background-color: $white;
        margin: 6px 0;
        transition: 0.4s;
      }

    }
    &.nav-open {
      .menu {
        .bar1 {
          -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
          transform: rotate(-45deg) translate(-9px, 6px) ;
        }
        .bar2 {opacity: 0;}
        .bar3 {
          -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
          transform: rotate(45deg) translate(-8px, -8px) ;
        }
      }
    }
  }
}
