 <header [ngClass]="{'nav-open':  _navSrvc.navToggleEventAnnounced$ | async}">
                  <!--Large Screen Nav-->
   <nav>
     <ul class="nav-list " id="nav-list">
       <li class="nav-item edge"></li>
       <li class="nav-item" *ngFor="let item of navItems" [ngClass]="{'active': item.isActive}"><a class="nav-link" data-text="{{item.text}}"  pageScroll [pageScrollOffset]="150" [pageScrollAdjustHash]="true" (pageScrollFinish)="onPageScrollFinish($event, item)" href="{{item.anchor}}">{{item.text}}</a></li>
       <li class="nav-item edge"></li>
     </ul>
   </nav>

   <button class="toggle-nav" (click)="_navSrvc.notifyNavToggleEvent()">
     <span>></span>
   </button>


                <!--Small View Menu-->

   <div class="menu" (click)="_navSrvc.notifyNavToggleEvent()">
     <div class="bar1"></div>
     <div class="bar2"></div>
     <div class="bar3"></div>
   </div>
 </header>


