@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,700|Open+Sans:400italic,300italic);
@import "../../assets/styles/paper-text.css";
@import "../../assets/styles/colors";


/* ====================================
Navigation
==================================== */

.overlay-navigation {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 10;
  top: 0;



  nav {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    ul {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      li {
        -webkit-flex-basis: 20%;
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        overflow: hidden;
        opacity: 1;
        display: block;
        &:hover {
          background-color: #77EEDF !important;
        }
        a {
          position: relative;
          top: 46%;
          color: #fff;
          text-transform: uppercase;
          font-family: 'Work sans', sans-serif;
          font-weight: 300;
          letter-spacing: 4px;
          text-decoration: none;
          display: block;
          text-align: center;
          font-size: 0.9rem;
          opacity: 1;
          &:before {
            content: '';
            width: 90%;
            height: 2px;
            background-color: #FBBF40;
            position: absolute;
            bottom: -65px;
            margin-left: 10%;
            margin-right: 10%;
            left: 0;
            z-index: 100;
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            transform: translateX(-100%);
            opacity: 0;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
          }
          &:after {
            content: attr(data-content);
            font-size: 1rem;
            -webkit-transition: all .2s linear;
            transition: all .2s linear;
            opacity: 0;
            position: absolute;
            z-index: 100;
            color: #FBBF40;
            display: block;
            margin-right: auto;
            margin-left: auto;
            left: 0;
            right: 0;
            bottom: -50px;
            text-transform: none;
            font-family: 'Open sans', sans-serif;
            font-weight: 300;
            font-style: italic;
            letter-spacing: 0;
          }
          &:hover {

            &:before {
              -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
              transform: translateX(0);
              opacity: 1;
            }
            &:after {
              -webkit-transform: translateY(15px);
              -ms-transform: translateY(15px);
              transform: translateY(15px);
              opacity: 1;
            }
          }
        }
        background-color: $primary  !important;
        border-left: 2px solid $text-secondary;
        border-right: 2px solid $text-secondary;

        &:nth-of-type(1) {
          background-color: #29363B;
        }
        &:nth-of-type(2) {
          background-color: #EA495F;
        }
        &:nth-of-type(3) {
          background-color: #F4837D;
        }
        &:nth-of-type(4) {
          background-color: #FDCEA9;
        }
        &:nth-of-type(5) {
          background-color: #99B998;
        }
      }
    }

  }
}





.home a {
  font-family: "Work Sans", sans-serif;
  color: #222;
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;
  padding-bottom: 3px;
  border-bottom: 1px solid #222;
}

@media (max-width: 640px) {
  nav {
    ul {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      li {
        height: 20%;
        a {
          font-size: 11px;
        }
      }
    }
    li a {
      &:after {
        font-size: 0.6rem;
        bottom: -25px;
      }
      &:hover:after {
        transform: translateY(0);
      }
    }
  }
  .open-overlay {
    right: 1rem;
  }
  nav li a:before {
    width: 25px;
  }
}
