<div class="overlay-navigation" [@toggleNavState]="navState" (@toggleNavState.done)="closeNav($event)" (@toggleNavState.start)="openNav($event)">
  <nav role="navigation" class="nav">
    <ul>
      <li *ngFor="let item of navItems">
        <a routerLink="{{item.anchor}}" [attr.data-content]="item.content">
          <h1 [@navItemState]="navState" class="paper-text">{{item.text}}</h1>
        </a>
      </li>
    </ul>
  </nav>
</div>
