@import "../../assets/styles/colors";
@import "../../assets/styles/buttons";
@import "../../assets/styles/fonts";
@import "../../assets/styles/mixins";

h1 {
  @include font-source-sans($bungee, 32px, $text-secondary, nomal, 1);
  text-align: center;
}
.instruction {
  @include font-source-sans($indie-flower, 22px, $text-secondary, normal, 1);
  margin-left: 20px;
  margin-top: 80px;
}
@keyframes send {
  0% {
    display: none;
    right: 100%;
  }

  100% {
    display: none;
  }
}
.contact-form {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  flex-direction: column;
  margin-top: 10px;
  .contact-form__other-contacts {
    justify-self: flex-end;
    display: flex;
    flex-direction: row;
    top: 80% !important;
    position: absolute;
    align-self: flex-start;
    width: 100% !important;
    .contact-form__other-contacts__item {
      display: flex;
      flex-direction: column;
      flex-basis: 20%;
      align-self: center;
      cursor: pointer;

      img {
        width: fit-content;
        align-self: center;
      }
      p {
        align-self: center;
      }
      &:hover {
        color: #09A6E4;
      }
    }
  }


  .contact-form__mail {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 400px;
    margin-left: 20px;
    //top: 44%;
    background: $text-secondary;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;

    &:before {
      content: "";
      position: absolute;
      right: 50%;
      top: 99%;
      width: 0;
      height: 0;
      border-top: 50px solid $text-secondary;
      border-right: 30px solid transparent;
      border-left: 5px solid transparent;
    }
    .name-email-field-groups {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .field-group {
        &:last-child {
          margin-left: 10px;
        }
      }

    }
    .field-group {
      width: 60%;
      label {
        color: #ffffff;
        display: block;
      }
      input, textarea {
        resize: none;
        font-size: 1.2em;
        border: none;
        width: 100%;
        &:focus {
          outline: none;
        }
        &:not(input) {
          height: 150px;
        }
      }
    }


    .sendmess {
      width: 90%;
      height: 50px;
      text-align: center;
      font-size: 1.2em;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      color: $text-secondary;
      background: #fff;
      line-height: 40px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      .bar {
        position: absolute;
        width: auto;
        background: #fcda2f;
        height: 100%;
        content: "";
        animation: sent 1.5s forwards;
        animation-delay: 0.2s;
      }
    }

    .success {
      width: 80%;
      text-align: center;
      font-size: 2em;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      color: #fff;
    }

    .closemess {
      width: 60%;
      height: 50px;
      text-align: center;
      font-size: 1.2em;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      color: #fcda2f;
      background: #ffffff;
      line-height: 40px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }

    &.sending {
      .sendmess {
        .bar {
          @include animation-name(send);
        }
      }
    }
    &.sent-success {
      .field-group, .sendmess {
        display: none;
      }

      .success, .closemess {
        display: inline;
      }
    }
    &.default {
      .field-group, .sendmess {
        display: inline;
      }

      .success, .closemess {
        display: none;
      }
    }
  }

}





button {
  padding: 0;
  border: 0;
  background: none;
}







  .snack-success {
    background-color: $success !important;
  }
  .snack-error {
    background-color: red;
    .mat-simple-snackbar-action {
      color: $danger;
    }
}



ul.social-icons {
  list-style: none;
  position: absolute;
  top: 85%;
  left: -3%;
  transform: translateY(-50%);
  li {
    a {
      display: block;
      margin-left: -2px;
      height: 60px;
      width: 60px;
      border-radius: 0 25px 25px 0;
      border: 2px solid #000;
      background: #FFF;
      margin-bottom: 1em;
      transition: all .4s ease;
      color: #2980b9;
      text-decoration: none;
      line-height: 60px;
      position: relative;
      &:hover {
        cursor: pointer;
        width: 180px;
        color: #fff;
        span {
          left: 0;
        }
      }
      span {
        padding: 0 30px 0 15px;
        position: absolute;
        left: -120px;
        transition: left .4s ease;
      }
      img {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 1.5em;
      }
    }
    .google {
      background: rgba(#27ae60, .1);
      border-color: #27ae60;
      color: #27ae60;
      &:hover {
        background: rgba(#27ae60, 1);
      }
    }
    .linkedin {
      background: rgba(#e67e22, .1);
      border-color: #e67e22;
      color: #e67e22;
      &:hover {
        background: rgba(#e67e22, 1);
      }
    }
    .git {
      background: rgba(#22A7F0, .1);
      border-color: #22A7F0;
      color: #22A7F0;
      &:hover {
        background: rgba(#22A7F0, 1);
      }
    }
    .email {
      background: rgba(#D2527F, .1);
      border-color: #D2527F;
      color: #D2527F;
      &:hover {
        background: rgba(#D2527F, 1);
      }
    }
  }
}


/* entypo */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


