<p class="instruction">  If you'd like to make an enquiry, please submit the following form, and I will respond as soon as possible.</p>
<div class="contact-form">

  <form class="contact-form__mail" [formGroup]="contactForm" (ngSubmit)="onSubmit()" [ngClass]="{'sending': messageStatus == MESSAGESTATUS.SENDING, 'sent-success': messageStatus == MESSAGESTATUS.SENT_SUCCESS, 'default': messageStatus == MESSAGESTATUS.DEFAULT}" >
    <div class="field-group name-email-field-groups" style="display: flex; flex-direction: row; justify-content: space-between">
      <div class="field-group">
        <label>Your Name</label>
        <input formControlName="name" aria-label="Your Name" autocomplete="on" type="text" placeholder="">
      </div>
      <div class="field-group">
        <label>Your Email</label>
        <input formControlName="email" aria-label="Your Email" autocomplete="on" type="email" placeholder="">
        <span class="alert alert-danger" *ngIf="contactForm.controls['email'].touched && !contactForm.controls['email'].valid">You must enter your email.</span>

      </div>
    </div>

     <div class="field-group">
       <label>Your Message</label>
       <textarea formControlName="message" aria-label="Your Message" placeholder=""></textarea>
       <span class="alert alert-danger" *ngIf="contactForm.controls['message'].touched && !contactForm.controls['message'].valid">You must enter your message.</span>
     </div>
    <button class="sendmess" aria-label="Send message" type="submit" [disabled]="contactForm.invalid">Send<span class="bar"></span></button>


    <div class="success">Message sent successfully.<br><br>Thanks!</div>

    <button class="closemess" aria-label="Close Form" type="reset" (click)="messageStatus = MESSAGESTATUS.DEFAULT">Close</button>
</form>

  <ul class="social-icons">
    <li>
      <a href="#" class="google"><span>Google+</span><img src="../../assets/img/Google-plus-icon.png" alt=""></a>
    </li>
    <li>
      <a href="#" class="linkedin"><span>LinkedIn</span><img src="../../assets/img/Linkedin.png" alt=""></a>
    </li>
    <li>
      <a href="#" class="git"><span>Github</span><img src="../../assets/img/Github-Icon.png" alt=""></a>
    </li>
    <li>
      <a href="#" class="email"><span>Email</span><img src="../../assets/img/Email-Icon.png" alt=""></a>
    </li>
  </ul>


  <!--<div class="contact-form__other-contacts">
    <span class="contact-form__other-contacts__item"><img src="../../assets/img/Google-plus-icon.png" alt=""><p>Contact me on Google Plus</p></span>
    <span class="contact-form__other-contacts__item"><img src="../../assets/img/Linkedin.png" alt=""><p>contact me on linkedIn</p></span>
    <span class="contact-form__other-contacts__item"><img src="../../assets/img/Github-Icon.png" alt=""><p>See my work on Github</p></span>
    <span class="contact-form__other-contacts__item"><img src="../../assets/img/Email-Icon.png" alt=""><p>contact via email client</p></span>
  </div>-->

</div>
