
<div class="skill-container">
  <div class="sort-filter">
   <label class="lbl">Filter: <span style="font-size: 0.8rem;font-style: italic;">toggle categories to filter skill/technologies</span></label>
    <portfolio-multi-select style="justify-content: center" [options]="types.keys()" (selectionChange)="filterSkills($event)"></portfolio-multi-select>
    <label class="lbl">Sort: <span style="font-size: 0.8rem;font-style: italic;">sort by skill/technologies by experience/category</span></label>
    <div class="btn-group" style="justify-content: center">
      <button class="filter-btn" (click)="sortSkills('name')" [ngClass]="{'selected': currentSort == 'name'}">Name</button>
      <button class="filter-btn" (click)="sortSkills('exp', false)"  [ngClass]="{'selected': currentSort == 'exp'}">Experience</button>
      <button class="filter-btn" (click)="sortSkills('cat')"  [ngClass]="{'selected': currentSort == 'cat'}" [disabled]="filterSet.length == 1">Category</button>
    </div>
  </div>
  <div class="skill-grid-with-legend">
    <div class="skill-grid"  data-isotope='{ "itemSelector": ".skill", "layoutMode": "fitRows", "getSortData":{"name": ".skill-name", "exp": "[data-exp] parseInt", "cat": "[data-categories]"}}'>
      <div class="skill" *ngFor="let skill of skills" attr.data-categories="{{skill.type}}"  attr.data-exp="{{skill?.exp?.val || 0}}" [style.backgroundColor]="currentSort == 'cat' ? TYPE_COLOR[skill?.type] : '#256f6f'">
        <div class="top">
          <i class="{{skill.icon}}"></i>
          <mat-chip class="exp" *ngIf="skill.exp">{{skill?.exp | experience}}</mat-chip>
        </div>
        <span class="skill-name">{{skill.name}}</span>
      </div>
    </div>
    <div class="skill-legend animated bounceInUp" *ngIf="currentSort == 'cat'">
      <div class="skill-legend__item" *ngFor="let color of  typeColorKeys; let i = index">
        <div class="skill-legend__item__type">
          <div class="skill-legend__item__color" [style.backgroundColor]="color"></div>
          <span>{{types.keys()[i]}}</span>
        </div>

      </div>
    </div>
  </div>

</div>

