@import "../../assets/styles/colors";
@import "../../assets/styles/buttons";

div.skill-container {
  margin: 40px 20px;
  div.sort-filter {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 70px;
    .lbl {
      margin-bottom: 10px;
      text-align: center;
     &:last-of-type {
       margin-top: 50px;
     }
    }
    .btn-group {
      display: flex;
      flex-direction: row ;
    }

  }
  portfolio-multi-select {
    align-self: center;
  }

  div.skill-grid-with-legend {
    display: flex;
    margin-top: 20px;
    div.skill-grid {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 80%;
      .skill {
        width: 90px;
        padding: 5px;
        height: 70px;
        border: 1px solid $ternary;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        background-color: $primary;
        box-shadow: 0 0 3px 0 $ternary;
        &:hover {
          opacity: 0.9;
        }
        .skill-name {
          font-style: italic;
          color: $ternary;
        }

        .top {
          display: flex;
          justify-content: space-between;
          .exp {
            background-color: transparent !important;
            color: $ternary;
          }
        }
      }
    }
    div.skill-legend {
      .skill-legend__item {
        .skill-legend__item__type {
          display: flex;

          .skill-legend__item__color {
            height: 30px;
            width: 20px;
            margin-right: 10px;
          }
          color: #c0c5ce;
          margin-left: 5px;
          margin-bottom: 5px;
          background-color: #297a7a;
          width: 250px;

        }
      }
    }
  }
}
