<div class="back-btn" >
  <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" (click)="goBackAction()">
    <g id="prev" transform="translate(8.500000, 8.500000) scale(-1, 1) translate(-8.500000, -8.500000)">
      <polygon class="arrow" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
      <polygon class="arrow-fixed" points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596"></polygon>
      <path d="M-1.48029737e-15,0.56157424 L-1.48029737e-15,16.1929159 L9.708,8.33860465 L-2.66453526e-15,0.56157424 L-1.48029737e-15,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z"></path>
    </g>
  </svg>
</div>
<div class="container">
  <h1 class="title">{{demo.title}}</h1>
  <p class="description">{{demo.description}}</p>



  <div class="built-with">
    <p>This app is built with the following technologies / libraries: </p>
    <ul>
      <li *ngFor="let resource of demo.resources">{{resource}}</li>
    </ul>
  </div>
  <div class="demo-links">
    <a href="{{demo.demoUrl}}" target="_blank" class="demo-link"><i class="material-icons">web</i>View Live Demo</a>
    <a href="{{demo.repoUrl}}" target="_blank" class="demo-link"><i class="material-icons">code</i>View Code Repository</a>
    <a (click)="openDialog()" target="_blank" class="demo-link"><i class="material-icons">ondemand_video</i>View Video Demo</a>
    <!--<a href="#" class="demo-link"> <i class="fa fa-envelope"></i> </a>-->

  </div>
</div>
