@import "../../../assets/styles/colors";
$ease: cubic-bezier(.2,1,.3,1);
div.back-btn {
  position: absolute;
  top: 12%;
  left: 8%;
  transform: translate(-50%, -50%);

  svg {
    width: 100px;
    height: auto;
    margin: 0 2rem;
    cursor: pointer;
    overflow: visible;
    polygon, path {
      transition: all 0.5s $ease;
      stroke: $text-secondary;
      fill: $text-secondary;
    }
    &:hover polygon, &:hover path {
      transition: all 1s $ease;
      fill: $text-secondary;
    }

    &:hover .arrow {
      animation: arrow-anim 2.5s $ease infinite;
    }
    &:hover .arrow-fixed {
      animation: arrow-fixed-anim 2.5s $ease infinite;
    }
  }
}
.container {
 // text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  div.built-with {
    ul {
      font-weight: bold;
      list-style: lower-roman;
    }
  }

  div.demo-links {
    display: flex;
    flex-direction: column;
    a.demo-link {
      width: 500px;
      border: 3px solid $text-secondary;
      //display: inline-block;
      font: {
        size: 30px;
        weight: bold;
      }
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 0.4em;
      border-radius: 50em;
      outline: none;
     // background-color: $text-secondary;
      margin-bottom: 10px;
      text-decoration: none;
      text-align: center;
      color: $text-secondary;
      &:hover {
        background-color: $text-secondary;
        color: #ffffff;
      }

    }
  }



}



@keyframes arrow-anim {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  5% {
    transform: translateX(-0.1rem);
  }
  100% {
    transform: translateX(1rem);
    opacity: 0;
  }
}

@keyframes arrow-fixed-anim {
  5% {
    opacity: 0;
  }
  20% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
