@import "../../../assets/styles/colors";


.container {
  width: 100% !important;
  height: 100% !important;
  > iframe {
          width: 100% !important;
          height: 100% !important;
        }


}
