@import "../assets/styles/colors";
@import "../assets/styles/fonts";
@import "../assets/styles/layout";
@import "../assets/styles/fonts";
@import "../assets/styles/hamburger";
@import "../assets/styles/paper-text.css";

:host {
  height: 100% !important;

}
div.container {
  height: 100% !important;

div.side {
  width: 20%;
  height: 80%;
  position: absolute;
  right: -100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  .side__page-title {
    @extend .page-title-font;
    margin-top: 20px;

  }
  .side__hamburger-menu {
    margin-top: 20px;
    z-index: 11;
  }
}
div.content {
    height: 100% !important;
    // background-color: $light;
    width: 100% !important;
    // margin: 15px 50px;
   // border-radius: 50px;
   // box-shadow: inset 0 0 0 25px #53a7ea;
  //position: fixed;
  div.router-animation-wrapper {
    height: 100%;
  }
  }


}

