<div class="container">
  <div class="content">
    <div class="side">
      <div class="side__hamburger-menu">
        <div class="hamburger" (click)="_navSrvc.notifyNavToggleEvent()" [ngClass]="{'hamburger--no-meat': _navSrvc.navToggleEventAnnounced$ | async}">
          <div class="hamburger__bun hamburger__bun--top"></div>
          <div class="hamburger__meat"></div>
          <div class=" hamburger__bun hamburger__bun--bottom"></div>
        </div>
      </div>
      <div class="side__page-title" [innerHTML]="pageTitle"></div>
    </div>
    <app-navigation></app-navigation>
    <div class="router-animation-wrapper" [@routeAnimation]="prepRouteState(routerOutlet)">
      <router-outlet (activate)="componentAdded($event)" #routerOutlet="outlet"></router-outlet>
    </div>
  </div>

</div>

