
<div class="demos-page-container container">
  <div class="demo-grid">
    <div class="card sticky-action medium animated zoomInLeft" *ngFor="let demo of demoPage.data; let i = index" [ngClass]="{'zoomInLeft': i  == 0, 'zoomInRight': i == 1}">
      <iframe *ngIf="demo?.videoUrl"  class="card-image" width="100%" height="100%" [src]='sanitizer.bypassSecurityTrustResourceUrl(demo?.videoUrl)' allowfullscreen="true"></iframe>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{{demo.title}}<i class="material-icons right">more_vert</i></span>
      </div>
      <div class="card-action">
        <a href="{{demo.demoUrl}}" target="_blank" class="demo-link"><i class="material-icons">web</i>Demo</a>
        <a href="{{demo.repoUrl}}" target="_blank" class="demo-link"><i class="material-icons">code</i>Code</a>
      </div>
      <div class="card-reveal">
        <h4 class="card-title activator grey-text text-darken-4">{{demo.title}}<i class="material-icons right">close</i></h4>
        <p class="description">{{demo.description}}</p>
        <div class="built-with">
          <b class="card-title activator grey-text text-darken-4">Technologies/Libraries/APIs Used: </b>
          <ul>
            <li *ngFor="let resource of demo.resources">{{resource}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <portfolio-paginator  *ngIf="!selectedDemo"   [pageData]="demoPage" (change)="onPageChangeAction($event)"></portfolio-paginator>

</div>



