@import "../../assets/styles/colors";
@import "../../assets/styles/layout";
@import "../../assets/styles/mixins";
@import "demos-pannel";

:host {
  height: 100%;
}

.demos-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100% !important;
  .demo-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      flex-basis: 48%;
      height: 500px;

      .card-image {
        max-height: 70% !important;
        height: 70% !important;
        img {
          height: 100% !important;
        }
      }
      .card-content {
       height: 20% !important;
        .card-title {
          color: $text-secondary !important;
        }
      }
      .card-reveal {
        width: 92%;
        height: 85%;

        div.built-with {
          text-align: center;
        }

      }
      .card-action {
        height: 10% !important;
        display: flex;
        justify-content: space-around;
        a.demo-link {
          width: 200px;
          border: 3px solid $text-secondary;
          font: {
            size: 24px;
            weight: bold;
          }
          text-transform: uppercase;
          letter-spacing: 1px;
          border-radius: 50em;
          outline: none;
          margin-bottom: 10px;
          text-decoration: none;
          text-align: center;
          color: $text-secondary;
          .material-icons {
            vertical-align: middle;
            margin-right: 3px;
            font-size: 30px;
          }
          &:hover {
            background-color: $text-secondary;
            color: #ffffff;
          }

        }
      }
    }
  }
}








