@import '../../assets/styles/bourbon/_bourbon'; // http://bourbon.io/
@import "../../assets/styles/layout";
@import "../../assets/styles/colors";
@import "../../assets/styles/fonts";
@import "../../assets/styles/mixins";

@import "../../assets/materialize-src/sass/materialize";
// animation duration

$fold-animation: .5s;
$fold-content-animation: .2s*(3+1)/2; // replace 3 with number of elements that you want to animate




h1, h2 {
	font-family: $secondary-font;
}

/* --------------------------------

Patterns - reusable parts of our design

-------------------------------- */

.overflow-hidden {
	overflow: hidden;
}



/* --------------------------------

Main content

-------------------------------- */

.cd-main {
	overflow-x: hidden;
  width: 80%;
}

.cd-gallery {
	@include clearfix;

	&::before {
		/* this is the dark layer covering the .cd-gallery when the .cd-folding-panel is open */
		display: block;
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba($color-5, .6);
		opacity: 0;
		visibility: hidden;
		@include transition(opacity  $fold-animation $fold-content-animation, visibility 0s $fold-animation+$fold-content-animation);
	}

}

.cd-item {
	width: 100%;
	height: 300px;
	text-align: center;
  list-style: none;

	/* Force Hardware Acceleration */
	@include transform(translateZ(0));
	@include backface-visibility(hidden);

	@include transition(transform $fold-animation $fold-content-animation);

	> a {
		display: table;
		height: 100%;
		width: 100%;
		overflow: hidden;
		color: $text-secondary;
		@include font-smoothing;

		&.dark-text {
			color: $color-1;

      button {
				border-color: $text-secondary;
			}
		}
	}

	div {
		display: table-cell;
		vertical-align: middle;
	}

	&:nth-of-type(1) {
		background-color: $color-1;
	}

	&:nth-of-type(2) {
		background-color: $color-2;
	}

	&:nth-of-type(3) {
		background-color: $color-3;
	}

	&:nth-of-type(4) {
		background-color: $color-4;
	}

	h2 {
		font-size: 2.2rem;
	}

	p {
		line-height: 1.2;
		font-size: 1.4rem;
		opacity: 0.6;
		padding: 1em 0;
	}

  button {
		display: inline-block;
		font: {
			size: 1.2rem;
			weight: bold;
		}
		text-transform: uppercase;
		letter-spacing: 1px;
		padding: 1em 1.3em;
		border-radius: 50em;
		border: 1px solid $text-secondary;
    background-color: transparent;
    color: $text-secondary;
    outline: none;
	}

	@include MQ(L) {
		@include column(.5);
		height: 400px;
		@include transition(transform $fold-animation $fold-content-animation);

		h2 {
			font-size: 3rem;
		}

		p {
			font-size: 1.6rem;
		}

		h2, p {
			@include transform(translateY(30px));
			@include transition(transform 0.3s 0.1s);
		}

    button {
			//opacity: 0;
			@include transform(translateY(20px));
			@include transition(opacity 0.3s 0s, transform 0.3s 0s);
      &:hover {
        background-color: $text-secondary !important;
        color: #ffffff;
        cursor: pointer;
      }
		}


	}
}

