@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";

div.multi-select {
  display: inline-block;
  .filter-icon {
    font-size: 50px;
    color: $white;
    background-color: $black-transparent;
    cursor: pointer;
  }
  div.selected-box {
    width: 500px;
    min-height: 50px;
    border: 1px solid $primary;
    border-radius: 4px;
    background-color: $secondary;
    box-shadow: 0 2px 0 darken($primary, 5%), 2px 4px 6px darken($primary, 2%);
    display: flex;
    button.clear-selected {
      display: inline-block;
      background-color: $primary;
      border: none;
      outline: none;
      cursor: pointer;
      .material-icons {
        font-size: 48px;
        color: $ternary;
      }
      :hover {
        opacity: 0.7;
      }
      :disabled {
        cursor: not-allowed !important;
        .material-icons {
          color: grey !important;
        }
      }

    }
    .selected-box-content {
      width: 100%;
      label.placeholder {
        margin: 10px 5px;
        display: inline-block;
      }
      .selected-list {
        display: flex;
        flex-wrap: wrap;
        .selected-item {
          float: left;
          background-color: $success;
          border-radius: 5px;
          font-size: 14px;
          min-width: 33px;
          color: white;
          border: transparent;
          margin: 10px 5px;
          padding: 0 5px;
          cursor: default;
          .close-icons {
            font-size: 14px;
            cursor: pointer;
            display: none;
            transition: all 3s;
            margin-left: 5px;
            line-height: 2;
          }
          &:hover {
            .close-icons {
              display: inline-block;
            }
          }
        }
      }
    }
  }
  .options {
    background-color: $black-transparent;
    min-height: 0;
    height: 0;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    padding: 10px 0;
    display: none;
    transition: height 20s;
    overflow: scroll;
    cursor: pointer;
    &.open {
    height: 180px;
    width: 500px;
    display: block;
    z-index: 1;
    }
    .options-header {
      color: $white;
      background-color: $primary;
      h4 {
        margin: 0 !important;
      }
      /deep/ {
        .icon-scroll {
          top: 15px !important;
          left: 91%;
        }
      }
    }
    .option {
      color: $text-primary;
      img {
        float: right;
        margin-right: 5px;
        margin-top: 5px;
        display: none;
      }
      &.selected {
        color: $success !important;
        img {
          display: inline-block;
        }
      }
      &:hover {
        opacity: 0.6;
        color: $white;
        background-color: lightblue;
      }
    }
  }
}
