<div class="multi-select">
  <div class="selected-box">
    <button class="clear-selected" (click)="clearAll()" [disabled]="selected?.length < 1"><i class="material-icons">clear_all</i></button>
     <div class="selected-box-content"  (click)="optionsel.toggle()">
       <label class="placeholder" *ngIf="selected?.length < 1">Click Here To add Filters</label>
       <div class="selected-list">
         <span class="selected-item" *ngFor="let selectedItem of selected">{{selectedItem}}<i class="material-icons close-icons" (click)="toggleSelection(null, selectedItem)">close</i></span>
       </div>
     </div>
  </div>
  <div class="options popper" #optionsel>
    <div class="options-header">
      <h4>Categories</h4>
      <portfolio-scrollable-animation></portfolio-scrollable-animation>
    </div>
    <div class="option"  *ngFor="let option of Options; let i = index;"  [ngClass]="{'selected': option.isSelected}" (click)="toggleSelection(i)">
      {{option.value}}
      <img src="../../assets/img/check_circle.svg" alt="select check">
    </div>
    <div x-arrow=""></div>
  </div>
</div>
