@import "assets/styles/colors";
.rx-js-icon {
background: $primary url("assets/img/Rx.png")  center no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.firebase-icon {
  background: $primary url("assets/img/firebase.png")  center no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.svn-icon {
  background: $primary url("assets/img/svn.jpg")  center no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.eclipse-icon {
  background: $primary url("assets/img/eclipse.png")  center no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.cvs-icon {
  background: $primary url("assets/img/cvs.png")  center no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.linkedin-icon {
  background: transparent url("assets/img/linkedin-logo.png")  center no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}

.demo-surge {
  background: transparent url("assets/img/surge.svg")  center no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  display: inline-block;
  /*&:after {
    content: 'Live';
    font-size: small;
    color: #000000;
    //line-height: 5
  }*/
}


.demo-walk-through {
 // background: $primary url("../img/video.svg")  center no-repeat;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  display: inline-block;
}

