/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Allan');
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "icons";
@import "assets/styles/colors";

/* General styles */

html {
  height: 100% !important;
  body{
    font: 400 20px 'Droid Sans', sans-serif;
    line-height: 1.5em;
    background-color: $main-bg;
    color: $text-secondary;
    -webkit-font-smoothing: antialiased;
    height: 100% !important;
    margin: 0 !important;

  }
}


.mat-dialog-container {
  background-color: $primary !important;
}

/* buttons, no circle */

.flickity-prev-next-button {
  width: 150px;
  height: 300px;
  background: transparent !important;
  opacity: 0.6 !important;
  border: none !important;
  box-shadow: none !important;
  &:hover {
    background: transparent;
    opacity: 1;
  }
  .arrow {
    fill: $black !important;
  }
  &.no-svg {
    color: $black !important;
  }
  &.previous {
    left: 0 !important;
  }
  &.next {
    right: 0;
  }
  &:disabled {
    display: none;
  }
}
//TODO: move to demo component scss
.mat-expansion-panel-content {
  &.mat-expanded {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    height: 400px;
    z-index: 100;

  }

}




