
@import "colors";

button {
  width: 150px;
  height: 40px;
  color: $text-primary;
  cursor: pointer;
  display: block;
  font-size:16px;
  line-height: 45px;
  max-width: 500px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background: lighten($primary, 3%);
  border: 1px solid darken($primary, 4%);
  box-shadow: 0 2px 0 darken($primary, 5%), 2px 4px 6px darken($primary, 2%);
  font-weight: 900;
  letter-spacing: 1px;
  transition: all 150ms linear;
  margin: 0 10px;
  outline: none;

  &:hover:not(:disabled), &.selected {
    background: darken($primary, 1.5%);
    border: 1px solid rgba(#000, .05);
    box-shadow: 1px 1px 2px rgba($white, .2);
    color: lighten($text-secondary, 18%);
    text-decoration: none;
    text-shadow: -1px -1px 0 darken($primary, 9.5%);
    transition: all 250ms linear;
  }
  &.selected {
    color: lighten($success, 18%);

  }
  &:disabled {
    background-color: $disabled;
    border: 1px solid transparent;
    color: $white;
    cursor: not-allowed;

  }
}
