$primary: #256f6f;
$primary-transparent: rgba(37,111,111, 0.6);
$secondary: #38a6a6;
//$ternary: #222b2f;
$ternary:  #c0c5ce;
$black: #000000;
$black-transparent: rgba(0,0,0,0.9);
$white: #ffffff;
$text-primary: #c0c5ce;
$text-secondary: #848e92;
$disabled: grey;
$danger: maroon;
$success: orange;
$active-link: rgba(0,0,256, 0.6);
$main-bg: #ddd;
$light: #FBBF40;

// 263238

// colors related to demo panel

$color-1: #363558; // Martinique
$color-2: #544173; // Mulled Wine
$color-3: #dadcdc; // Iron
$color-4: #65d29b; // Emerald
$color-5: #1c1726; // Bastille
$color-6: #ffffff; // White



$mobile-head-nav-colors: (
  1: #FA6ACC,
  2: #F02A52,
  3: #09A6E4,
  4: #256f6f,
  5: maroon,
  6: orange
);
