@import url('https://fonts.googleapis.com/css?family=VT323');
@import "colors";
@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Ewert');


@mixin font-source-sans($name: false, $size: false, $colour: false, $weight: false,  $lh: false) {
  @if $name {
    font-family: $name;
  }
  @else {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  }
  @if $size { font-size: $size; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
  @if $lh { line-height: $lh; }
}

$bungee: 'Bungee', cursive;
$indie-flower: 'Indie Flower', cursive;
$abril : 'Abril Fatface', cursive;


// fonts

$primary-font: 'Open Sans', sans-serif;

$secondary-font: 'Vollkorn', serif;

// page title font
.page-title-font {
  font-family: 'Ewert', cursive;
  font-size: 36px;
  color: $text-secondary;
  line-height: 1.1;
  font-weight: bold;
}
