// Colors
@import "colors";
$radius: 50px;


.hamburger{
  width: 150px;
  height: 150px;
  //display: block;
  transition: .3s ease all;
  //sright: 20px;
  //top: 5px;

  &.hamburger--no-meat {
    transform: rotate(-45deg);
  }
}

.hamburger__bun,
.hamburger__meat {
  display: block;
  width: 100%;
  background: $text-secondary;
  height: 20%;
  transition: .3s ease all;
  border-radius: $radius;
}

.hamburger__bun--top {
  .hamburger--no-meat & {
    height: 38%;
    width: 20%;
    margin-left: 40%;
    border-radius: $radius $radius 0 0;
  }

}

.hamburger__bun--bottom{
  .hamburger--no-meat & {
    height: 38%;
    width: 20%;
    margin-left: 40%;
    border-radius: 0 0 $radius $radius;
  }
}

.hamburger__meat{
  margin: 10% 0;

  .hamburger--no-meat &{
    margin: 2% 0;

  }
}
