@import "~sass-mediaqueries/_media-queries"; // media query mixins https://paranoida.github.io/sass-mediaqueries/

$xs-upper-boundary:575px;
$sm-lower-boundary: 576px;
$sm-upper-boundary: 767px;
$md-lower-boundary: 768px;
$md-upper-boundary: 991px;
$lg-lower-boundary: 992px;
$lg-upper-boundary: 1199px;
$xl-lower-boundary: 1200px;


// breakpoints

$S:     480px;
$M:     600px;
$L:     1100px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
}

// super light grid - it works with the .cd-container class inside style.scss

@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}


